    <ul>
        <li><a class="active" href=" {% url 'myDashboard' %} ">Home</a></li>
        <li><a href="{% url 'teacherHome' %}">Teacher</a></li>
        <li><a href="{% url 'studentHome' %}">Student</a></li>
        <li><a href="{% url 'staffHome' %}">Staff</a></li>
        <li><a href="{% url 'doctorHome' %}">Doctor</a></li>
        <li><a href="{% url 'nurseHome' %}">Nurse</a></li>
        <li><a href="{% url 'employeeHome' %}">Employee</a></li>
        <li><a href="{% url 'logoutpage' %}">Logout</a></li>
    </ul>